body {
    font-family: Arial, sans-serif;

    background-color: gray;
    text-align: center;
}


#contPrincipal {
    text-align: center;
    border: solid;
    padding: 30px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    background-color: darkcyan;
    border-radius: 20px 100px 20px 100px;
}


header h1 {
    color: turquoise;
}

a {
    text-decoration: none;
}

button {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: lightskyblue;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 20px rgba(32, 178, 171, 0.536);
}

#volver {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
}
