* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
h2 {
    color: aqua;
    font-size: 40px;
    z-index: 1;
}

#contadores{
    position: relative;
    width: 400px;
    height: 350px;
    padding: 0 7px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid 1px blue;
    border-radius: 20px;
    overflow: hidden;

}
#contadores::before {
    content: "";
    position: absolute;
    width: 200px; 
    height: 150%;
    background-color: rgb(2, 179, 179);
    box-shadow: 0 0 5px red
                0 0 25px red
                0 0 50px red
                0 0 200px red;

    animation: animate 4s linear infinite;
}
#contadores::after {
    content: "";
    position: absolute;
    inset: 8px;
    background-color: black;
    border-radius: 16px;
    border: solid 1px blue;
    background: url(Background.jpg)no-repeat ;
    background-position: center;
    background-size: cover;

}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}