body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;

}

main {
    grid-area: main;
    display: grid;

    grid-template: 
    "ContPrincipal main contadores" /
    auto 10% auto;
}

#contadores {
    grid-area: contadores;

    height: 200px;
    border-radius: 200px;
    margin-bottom: 20px;
    margin-top: 60px;
    font-size: 20px;
    
    display: grid;
    grid-template: 
    " article article article"
    ". . ." 20px
    ". btn ." 40px;

    grid-template-columns: repeat(3, 1fr);

}

article {
    font-weight: bold;
    text-align: center;
    border: solid;
    padding: 2px;
    margin: 1px;
    background-color: darkslateblue;
}

article h4 {
    color: antiquewhite;
}

article p {
    color: greenyellow;
}

#ResetearTodo {
    grid-area: btn;

    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-right: 8px solid darkblue;
    padding: 5px;
    background-color: darkturquoise;

}
#ResetearTodo:hover {
    transform: scale(1.05);
    transition: 1s;
}

#ContPrincipal {
    grid-area: ContPrincipal;

}

.Contenedor {

    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
}

#contBtns {
    text-align: center;
}

.btn {
    width: 98px;
    height: 99px;
    text-align: center;
    font-size: 80px;
    margin: 0;
    background-color: darkcyan;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn:hover {
    transform: scale(1.05);
    border-radius: 10px;
    background-color: turquoise;

}

#btnReset {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}
#btnReset:hover {
    background-color: lightseagreen;
}

#mensajeTurno {
    margin: 20px;
    color: greenyellow;
    font-size: 20px;
    height: 20px;
}

#mensajeGane {
    margin: 20px;
    font-size: 20px;
    height: 20px;
}

#volver {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}



@media (max-width: 700px) {


    main {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    #ContPrincipal {
        margin: auto;
    }

    #contBtns {
        text-align: center;
    }
    
    #contadores {
        margin: auto;
    }
}